# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env


#Ignore the data science pipeline image on the README.md
*.png


#The files from Desktop Services Store containing meta info
*.DS_Store

# Ignore IDE specific files
__pycache__
*.pyc
.idea/
.vscode/
*.sw*
*.tsv
*.tfevents
catboost_info

tuning.py
results/Categorical Boosting_ROC.pdf
results/Extra Trees_ROC.pdf
results/Logistic Regression_ROC.pdf
results/Random Forest_ROC.pdf
